body {
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
    
header {
    text-align: center;
    background-color: blue;
    color: white;
}

footer {
    text-align: center;
    background-color: blue;
    color: white;
}